:root {
    --text-color: #222222;
    --container-color: #FFFFFF;
    --primary-color: #FFC53D;
    --background-color: #E1E1E1;
    --gradient-color: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    margin: 0 auto;
    font-size: 14px;
}

.button {
    background: var(--gradient-color);
    border: none;
    color: var(--container-color);
    border-radius: 10px;
    margin: 0 1rem;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
}

.button:active, .button:hover, .button:focus {
    filter: brightness(0.9);
    transition: filter .5s ease;
    outline: none;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .button {
        background: var(--gradient-color);
        border: none;
        color: var(--container-color);
        border-radius: 10px;
        margin: 0 2.5rem;
        width: 10rem;
        height: 2.5rem;
        font-size: 1.15rem;
    }
}

@media (min-width: 960px) {

    .button {
        background: var(--gradient-color);
        border: none;
        color: var(--container-color);
        border-radius: 15px;
        margin: 0 2.5rem;
        width: 12.5rem;
        height: 3.125rem;
        font-size: 1.15rem;
    }
}

/*Navigation*/

nav {
    background-color: var(--container-color);
    padding: 3rem 0 1rem 2rem;
}

.page-logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.page-logo span {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

@media (min-width: 768px) {
    nav {
        padding-left: 4rem;
    }
}
@media (min-width: 960px) {
    nav {
        padding-left: 6rem;
    }
}

/*Home section*/

.home-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-section__background {
    background-image: url(./assets/img/cover_photo.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: scale 30s linear infinite;
}

.home-section__coverLayer {
    background-image: url(./assets/img/cover_layer.png);
    background-size: cover;
    background-position: left;
    position: absolute;
    filter: grayscale(100%);
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: scale 30s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
}

.home-section__top {
    min-height: 60vh;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.home-section__header {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin: 0;
}

.home-section__description {
    font-size: 1rem;
    color: var(--container-color);
    margin: 0;
}

.home-section__icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.home-section__icon {
    margin: 0.5rem;
    width: 1.2rem;
}

.home-section__icon:active, .home-section__icon:hover, .home-section__icon:focus {
    filter: brightness(0.8);
    transition: filter .5s ease;
}

.home-section__bottom {
    background-color: var(--container-color);
}

.home-section__bottom h3 {
    font-size: 2rem;
    font-weight: 400;
}

.home-section__buttons {
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .home-section__header {
        font-size: 5.5rem;
    }
    .home-section__description {
        font-size: 1.5rem;
    }
    .home-section__icon {
        width: 1.5rem;
        margin: 0.75rem;
    }
}

@media (min-width: 960px) {
    .home-section__header {
        font-size: 7.5rem;
    }
    .home-section__description {
        font-size: 2rem;
    }
    .home-section__icon {
        width: 2rem;
        margin: 0.9rem;
    }
}

/*About section*/

.aboutMe-section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    z-index: -2;
}

.aboutMe-section h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.aboutMe-section .wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.aboutMe-section__content {
    width: 85vw;
    background-color: var(--container-color);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    padding: 0.5rem 0;
}

.aboutMe-section__personalData {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 1rem auto;
    grid-area: personalData;
}

.aboutMe-section__picture {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 0;
    margin: .7rem 3rem;
}

.aboutMe-section__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
    list-style: none;
}

.aboutMe-section__contact li {
    font-weight: bold;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.aboutMe-section__myData {
    font-size: 1.1rem;
    color: var(--primary-color);
}

.aboutMe-section__description {
    margin: auto;
    padding: 0 2rem;
    text-align: start;
    grid-area: description;
}

.aboutMe-section__content {
    display: grid;
    grid-template-areas:
    "personalData"
    "description"
}

/*@media (min-width: 768px) {*/
/*}*/

@media (min-width: 1024px) {
    .aboutMe-section .wrapper {
        padding-bottom: 7rem;
    }
    .aboutMe-section__coverLayer {
        background-image: url(./assets/img/gray_main_rectangle.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 70vw;
        height: 60vh;
        z-index: -1;
    }
    .aboutMe-section__personalData {
        border-right: 3px dotted var(--primary-color);
        margin: 0 auto;
    }
    .aboutMe-section h2 {
        font-size: 2rem;
        text-align: left;
        padding-left: 9rem;
        margin: 1rem;
    }

    .aboutMe-section__picture {
        margin: 1.7rem auto;
    }
    .aboutMe-section__content {
        grid-template-columns: 5.5fr 6.5fr;
        grid-template-areas:
            "personalData description"
    }
}

/*Skills section*/

.skills-section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--container-color);
    z-index: -2;
    padding-bottom: 4rem;
}

.skills-section__header {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
}

.skills-section__content {
    width: 85vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--container-color);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 0 2.5rem 0;
    margin: 0;
}

.skills-section__skill {
    text-align: center;
    width: 33%;
    min-width: 12.5rem;
    padding: 0 2.5rem;
    display: flex;
    flex-flow: column;
    align-content: center;
}

/*.skills-section__skill:nth-child(2) {*/
/*    padding: 2rem 0 2rem 0;*/
/*}*/
.skills-section__skillTitle {
    margin-top: 1.25rem;
    margin-bottom: 0;
    color: var(--primary-color);
}
.skills-section__skillDescription {
    margin: 0;
}

@media (min-width: 659px) {
    .skills-section__skill:nth-child(2) {
        padding: 0 0 2rem 0;
    }
}
@media (min-width: 768px) {
    .skills-section__content {
        flex-flow: row nowrap;
    }

    .skills-section__skill {
        padding: 0;
    }

    .skills-section__skillIcon {
        margin-bottom: 1.5rem;
    }
    .skills-section__skill:nth-child(2) {
        padding: 0;
    }
}

@media (min-width: 1024px) {
    .skills-section::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        background-color: #FAFAFF;
        width: 65vw;
        height: 100%;
    }
    .skills-section__header {
        font-size: 2rem;
        padding-right: 10rem;
    }
    .skills-section__skill:nth-of-type(2) {
        border-left: 3px dotted var(--primary-color);
        border-right: 3px dotted var(--primary-color);
    }
}

/*Portfolio section*/

.portfolio-section {
    padding: 0.8rem 0 2.5rem 0;
    background-color: var(--container-color);
}

.portfolio-section__header {
    text-align: center;
    font-size: 2rem;
}

.portfolio-section__content {
    color: #fff;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "projekt1"
    "projekt2"
    "projekt3"
    "projekt4"
    "projekt5"
}

.portfolio-section__project {
    padding-left: 1rem;
    opacity: 1;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.portfolio-section__project:hover {
    opacity: .8;
}

.portfolio-section__project h3 {
    font-size: 1.2rem;
    margin: 1.5rem 0 0 0;
}
.portfolio-section__description {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    max-width: 50vw;
}

.portfolio-section__project .button {
    margin: 0;
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.portfolio-section__project:nth-of-type(1) {
    height: 347px;
    background-image:
            linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%),
            url(./assets/img/portfolio1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: projekt1;
}

.portfolio-section__project:nth-of-type(2) {

    background-image: url(./assets/img/portfolio2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: projekt2;
}

.portfolio-section__project:nth-of-type(3) {

    background-image: url(./assets/img/portfolio3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: projekt3;
}

.portfolio-section__project:nth-of-type(4) {

    background-image: url(./assets/img/portfolio4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: projekt4;
}

.portfolio-section__project:nth-of-type(5) {

    background-image:
            linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%),
            url(./assets/img/portfolio5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: projekt5;
}

@media (min-width: 768px) {
    .portfolio-section__content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
    "projekt1 projekt1 projekt1 projekt2 projekt2"
    "projekt3 projekt3 projekt3 projekt4 projekt4"
    "projekt5 projekt5 projekt5 projekt5 projekt5"
    }

    .portfolio-section__description {
        font-size: 1rem;
    }
    .portfolio-section__project h3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .portfolio-section__content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
    "projekt1 projekt1 projekt1 projekt2 projekt2 projekt3 projekt3 projekt3"
    "projekt4 projekt4 projekt5 projekt5 projekt5 projekt5 projekt5 projekt5"
    }

    .portfolio-section__project h3 {
        font-size: 1.5rem;
    }


}
